<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <title>My AngularJS Demo</title>
  </head>
  <body>
    <div ng-controller="directiveCtrl">
      <h2>customer directive demo</h2>
      <h3>simple directive</h3>
      <pre>return {template:'姓名: 地址'}</pre>
      <div my-customer></div>
      <my-customer-html person="zhangshan"></my-customer-html>
      <my-customer-html person="lisi"></my-customer-html>
      <p>Date format: 
        <input ng-model="format"><span>current time is:</span><span my-current-time="format"></span>
      </p>
    </div>
    <div ng-controller="scopeCtrl">
      <Your>name:</Your>
      <input type="text" ng-model="username">
      <button ng-click="greet()">greet</button>
      <hr>{{greeting}}
    </div>
    <div ng-controller="eventCtrl">
      <Root>Scope <tt>MyEvent</tt> count:{{count}}</Root>
      <ul>
        <li ng-repeat="i in [1]" ng-controller="eventCtrl">
          <button ng-click="$emit('MyEvent')">$emit('MyEvent')</button>
          <button ng-click="$broadcast('MyEvent')">$broadcast('MyEvent')</button><br>
          <Middle>scope <tt>MyEvent</tt> count:{{count}}</Middle>
          <ul>
            <li ng-repeat="item in [1,2]" ng-controller="eventCtrl">
              <Leaf>scope <tt>MyEvent</tt> count:{{count}}</Leaf>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <script src="js/vendor/angular.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>